*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#homediv{
    position: relative;
    background-image: url(./image/01.jpg); 
    width: 100%;
    height: 90vh;
   background-size: cover;
   align-items: center;
   object-fit: cover;

   
}
#homediv2{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: .5; 
    z-index:100; 
}
#explore{
    width: 100%;
    height: 70vh;
    background-image: url(./image/glasspartition.jpg);
}
#coworkingExperiance{
    width: 100%;
    height: 60vh;
    background-color: aliceblue;
}
#coworking img{
    width:40%;
    height:40vh;
}
#discover{
    width: 100%;
    height: 60vh;
    background-color: #B3376F;
}
#Collaborate{
    width: 100%;
    height: 60vh;
    background-color: #fcac45;
}
#Amenities{
    width: 100%;
    height: 40vh;
    background-color: #5a5a5a;
}
#pricing{
    width: 100%;
    height: 25vh;

}
#contact{
    width: 100%;
    height: 90vh;
}
#footer{
    width: 100%;
    height: 10vh;
}
@media only screen and (max-width: 600px){
    #homediv{
        position: relative;
        background-image: url(./image/01.jpg); 
        width: 100%;
        height: 60vh;
       background-size: cover;
       align-items: center;
       object-fit: cover;
    
       
    }
    #homediv2{
        width: 100%;
        height: 60vh;
        background-color: black;
        opacity: .5; 
        z-index:100; 
        font-size: 5em;
    }
    #explore{
        width: 100%;
        height: 60vh;
        background-image: url(./image/glasspartition.jpg);
        text-align: center;
        background-size: cover;
        align-items: center;
    }
    #coworking img {
        width: 87%;
        height: 40vh;
    }

}